<nz-card nsAutoHeightCard>
  <nz-button-group [style.display]="!isLoading">
    <button
      nz-button
      [nzLoading]="isLoading"
      (click)="save()"
      [disabled]="!tableEdited"
      nzType="primary"
      nz-tooltip
      nzTooltipTitle="Save changes"
    >
      Save
    </button>
    <button
      nz-button
      (click)="reload()"
      [nzLoading]="isLoading"
      [disabled]="!tableEdited"
      nzType="danger"
      nz-tooltip
      nzTooltipTitle="Reset all table data"
    >
      Reset
    </button>
    <nz-spin [nzSpinning]="isLoading" [nzDelay]="500"></nz-spin>

  </nz-button-group>
  <nz-table
    #nestedTable
    nzOuterBordered
    [nsAutoHeightTable]="100"
    [nzData]="clubs"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th></th>
        <th [nzSortFn]="compareFuncs.compareClubName">Club Name</th>
        <th [nzSortFn]="compareFuncs.compareClubAddress">Address</th>
        <th [nzSortFn]="compareFuncs.compareClubSize">Club Members</th>
      </tr>
    </thead>
    <tbody>

      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr class="parent-row">
          <td [(nzExpand)]="data.expand"></td>
          <td>
            <input #cellStatus hidden />
            <div
              class="editable-cell"
              (click)="cellStatus.value = 'editing'"
              [hidden]="cellStatus.value == 'editing'"
            >
              {{ data.club_name }}
            </div>
            <input
              class="edit-input"
              autofocus
              #cellInput
              (blur)="cellStatus.value = ''"
              (change)="onTableEdited($event)"
              [hidden]="cellStatus.value != 'editing'"
              type="text"
              nz-input
              [(ngModel)]="data.club_name"
            />
          </td>
          <td>
            <input #cellStatus hidden />
            <div
              class="editable-cell"
              (click)="cellStatus.value = 'editing'"
              [hidden]="cellStatus.value == 'editing'"
            >
              {{ data.club_address }}
            </div>
            <input
              class="edit-input"
              autofocus
              #cellInput
              (blur)="cellStatus.value = ''"
              (change)="onTableEdited($event)"
              [hidden]="cellStatus.value != 'editing'"
              type="text"
              nz-input
              [(ngModel)]="data.club_address"
            />
          </td>
          <td>
            <span class="table-operation">
              <a (click)="data.expand = !data.expand">
                <span *ngIf="!data.expand">Show</span>
                <span *ngIf="data.expand">Hide</span>
                ({{ data.club_members.length }}) Members</a
              >
            </span>
          </td>
        </tr>
        <tr [nzExpand]="data.expand">
          <nz-table
            #innerTable
            nzOuterBordered
            nzTitle="Members in {{ data.club_name }} Club"
            [nzData]="data.club_members"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th [nzSortFn]="compareFuncs.compareMemberName">Name</th>
                <th [nzSortFn]="compareFuncs.compareMemberAge">Age</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clubMember of innerTable.data">
                <td style="width: 12em">
                  <input #cellStatus hidden />
                  <div
                    class="editable-cell"
                    (click)="cellStatus.value = 'editing'"
                    [hidden]="cellStatus.value == 'editing'"
                  >
                    {{ clubMember.name }}
                  </div>
                  <input
                    class="edit-input"
                    autofocus
                    #cellInput
                    (change)="onTableEdited($event)"
                    (blur)="cellStatus.value = ''"
                    [hidden]="cellStatus.value != 'editing'"
                    type="text"
                    nz-input
                    [(ngModel)]="clubMember.name"
                  />
                </td>
                <td style="width: 12em">
                  <input #cellStatus hidden />
                  <div
                    class="editable-cell"
                    (click)="cellStatus.value = 'editing'"
                    [hidden]="cellStatus.value == 'editing'"
                  >
                    {{ clubMember.age }}
                  </div>
                  <input
                    class="edit-input"
                    autofocus
                    #cellInput
                    (change)="onTableEdited($event)"
                    (blur)="cellStatus.value = ''"
                    [hidden]="cellStatus.value != 'editing'"
                    type="text"
                    nz-input
                    [(ngModel)]="clubMember.age"
                  />
                </td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
