<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/clubs">
        <i
          style="font-size: 2em"
          nz-icon
          nzType="thunderbolt"
          nzTheme="outline"
        ></i>
        <span class="site-heading">Fast Club</span>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/clubs">Club List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>About</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Next Steps</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Code Base on Github" nzIcon="github">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <nz-page-header [nzGhost]="false">
          <nz-page-header-title>Club List</nz-page-header-title>
          <nz-page-header-subtitle style="color: orange"
            >(Double Click a Table Cell to Edit Content)</nz-page-header-subtitle
          >
        </nz-page-header>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
